
  

<div>
  <mat-form-field appearance="fill">
  <mat-label>First Name</mat-label>
  <input matInput >
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>City</mat-label>
  <input matInput >
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Sem</mat-label>
  <input matInput disabled>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select>
    <mat-option value="one"><</mat-option>
    <mat-option value="two">></mat-option>
  </mat-select>
</mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="uname">
    <th mat-header-cell *matHeaderCellDef> uname </th>
    <td mat-cell *matCellDef="let element"> {{element.uname}} </td>
  </ng-container>

  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef> City</th>
    <td mat-cell *matCellDef="let element"> {{element.city}} </td>
  </ng-container>

 
  <ng-container matColumnDef="contact_no">
    <th mat-header-cell *matHeaderCellDef> contact_no </th>
    <td mat-cell *matCellDef="let element"> {{element.contact_no}} </td>
  </ng-container>


  <ng-container matColumnDef="trade">
    <th mat-header-cell *matHeaderCellDef> trade </th>
    <td mat-cell *matCellDef="let element"> {{element.trade}} </td>
  </ng-container>
  <ng-container matColumnDef="sem">
    <th mat-header-cell *matHeaderCellDef> sem </th>
    <td mat-cell *matCellDef="let element"> {{element.sem}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<br>
